<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../dist/css/icons.css" />
  </head>
  <body>
    <button id="italic" ed-action="italic">italic</button>
    <button id="VARIABLE_A" ed-action="insertText" ed-text="{{ VARIABLE_A }}">VARIABLE_A</button>
    <div id="editor">
      <nav>
        <span ed-action="bold"><i class="fi icon-bold"></i></span>
        <span ed-action="italic"><i class="fi icon-italic"></i></span>
        <span ed-action="underline"><i class="fi icon-underline"></i></span>
        <span ed-action="strikeThrough"><i class="fi icon-strikethrough"></i></span>
        <span ed-action="justifyLeft"><i class="fi icon-left-align"></i></span>
        <span ed-action="justifyCenter"><i class="fi icon-center-alignment"></i></span>
        <span ed-action="h1">h1</span>
        <span ed-action="p">p</span>
      </nav>
      <div ed-editor-area></div>
    </div>
    <script src="../dist/js/index.js"></script>
    <script type="text/javascript">
      var editor = new SimpleEditor( '#editor' );
      // add custom action outside editor wrapper
      editor.addAction( document.getElementById( 'italic' ) );
      editor.addAction( document.getElementById( 'VARIABLE_A' ) );
    </script>
  </body>
</html>

